@model Aluno

@{
    Layout = "_Layout";
}


<form asp-controller="Alunos" asp-action="Criar" method="post" id="CreateForm">
    <div class="card ">
        <div class="card-body ">

            <div class="row">
                <legend class="text-center">Criar Aluno</legend>
                <div class="form-group col-md-6">
                    <label for="SocialReason">@Html.DisplayNameFor(model => model.Nome)</label>
                    <input asp-for="Nome" type="text" class="form-control" minlength="8" id="SocialReason" placeholder="Ex: José Fernando Alves">
                    @Html.ValidationMessageFor(x => x.Nome)
                </div>
               
                <div class="form-group col-md-6">
                    <label for="email">@Html.DisplayNameFor(model => model.Email)</label>
                    <input asp-for="Email" type="email"  maxlength="35" class="form-control" id="email" placeholder="Ex: seuemail@gmail.com">
                    @Html.ValidationMessageFor(x => x.Email)
                   
                </div>

            </div>

            <br />
            <div class="row ">
                <div class="form-group col-md-6">
                    <label for="cnpj">@Html.DisplayNameFor(model => model.Cpf)</label>
                    <input asp-for="Cpf" type="text" class="form-control cnpj" minlength="14" maxlength="14" placeholder="000.000.000-00" id="inputCpf">
                    @Html.ValidationMessageFor(x => x.Cpf)
                </div>

                <div class="form-group col-md-6">
                    <label for="adress">@Html.DisplayNameFor(model => model.Telefone)</label>
                    <input asp-for="Telefone" type="text" minlenght="15" maxlength="60" class="form-control" id="phone" placeholder="Ex: (61) 99877-4455">
                    @Html.ValidationMessageFor(x => x.Telefone)
                </div>
            </div>

            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="adress">@Html.DisplayNameFor(model => model.Profissao)</label>
                    <input asp-for="Profissao" type="text" minlenght="15" maxlength="60" class="form-control" id="profissao" placeholder="Digite a profissão do aluno">
                    @Html.ValidationMessageFor(x => x.Profissao)
                </div>
                <div class="form-group col-md-4">
                    <label for="phone">@Html.DisplayNameFor(model => model.Nascimento)</label>
                    <input asp-for="Nascimento" type="date" minlength="10" class="form-control" id="phone">
                    @Html.ValidationMessageFor(x => x.Nascimento)
                </div>
                <div class="form-group col-md-4">
                    <label for="phone">@Html.DisplayNameFor(model => model.Pagamento)</label>
                    <input asp-for="Pagamento" type="date" minlength="10" class="form-control" id="phone" >
                    @Html.ValidationMessageFor(x => x.Pagamento)
                </div>
            </div>

        </div>
            <br />
           
        </div>
    </div>

    <br />

    <br />

    <div class="row d-flex  justify-content-center">

        <button class="btn btn-success mb-5 col-md-2 mr-3" type="submit" id="submitButton">Adicionar</button>
        <a class="btn btn-secondary mb-5 col-md-2 mx-2" asp-controller="Alunos" asp-action="Index" role="button">Voltar</a>
    </div>


</form>

@section Scripts {
    <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>

    <script>
        $(document).ready(function () {
            $('#inputCpf').mask('000.000.000-00', { reverse: true });
            $('#phone').mask('(00) 00000-0000');
        });
    </script>
   
}

